%p#notice= notice

%p
  %b Order number:
  = @order.order_number
%p
  %b Creator:
  = @order.creator.name unless @order.creator.nil?
%p
  %b Status:
  = @order.status
%p
  %b Total:
  = @order.total


= link_to 'Edit', edit_order_path(@order)
\|
= link_to 'Back', orders_path
